version: '3'
services:

    # Application
    api.prionplatform:
        container_name: api.prionplatform
        volumes:
            - ${APP_PATH:-/Users/brandonbest/Sites/api.prionplatform.com}:/var/www/html:rw
        build:
            context: ./
            dockerfile: dev.dockerfile
        external_links:
            - "redis:redis"
            - "mariadb:mariadb"

# Networks
networks:
    default:
        external:
            name: nginx-proxy